html,
body {
  font-family: "Inter Tight", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.heading {
  background: #333333;
  height: 45px;
  max-height: 45px;
  width: 100%;
  position: relative;
}

.heading__search--input {
  position: absolute;
  top: 0%;
  left: 50%;
  height: 45px;
  max-height: 45px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.icon-search {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  position: absolute;
  top: 20%;
  left: 63%;
}

.heading__language--title {
  position: absolute;
  top: 30%;
  left: 66%;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

input[type=text] {
  background-color: #333333;
}

.icon-home {
  margin-left: 30px;
}

.logo__menu--item {
  margin-top: 8px;
  width: 100%;
}

/* home menu item start */
.home-menu {
  background-color: #F5F5F5;
}

.home__menu--item {
  display: flex;
}

.home__menu--list {
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
  color: #666666;
  margin-left: 10px;
}

.home__menu--list-more {
  margin-left: 10px;
}

/* home menu item end */
.manufacturing__details {
  padding: 10px 0px;
}
.manufacturing__details--header {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
  padding: 10px 20px;
}
.manufacturing__details--item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 10px 20px;
}
.manufacturing__details--item li {
  margin-bottom: 20px;
}
.manufacturing__details--desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  padding: 10px 14px;
}
.manufacturing__details--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #e41623;
}
.manufacturing__details--circle {
  list-style-type: circle;
  padding: 20px 20px;
}

.space-hightlight {
  font-weight: 900;
  background: #E41623;
  font-size: 8px;
  line-height: 8px;
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.category__product--space {
  font-weight: 900;
  font-size: 8px;
  line-height: 8px;
  background: #d1d1d1;
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.button__service--pdf {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}

.header__related--manufacturing {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #e41623;
  padding-top: 50px;
}

.manufacturing__card {
  margin-top: 10px;
  height: 100%;
  background: #FFFFFF;
}
.manufacturing__card--name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 15px;
}
.manufacturing__card--content {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  margin-bottom: 15px;
}

.manufacturing__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.manufacturing__background {
  background: #FFFFFF;
  padding: 20px 20px;
}

.view__more--new {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.view__more--new i {
  color: #E41623;
  font-size: 18px;
  margin-left: 7px;
}

.footer {
  padding: 0px 20px;
}

.fmore {
  line-height: 55px;
  font-size: 14px;
}

/*# sourceMappingURL=manufacturingDetails.css.map */
