html,
body {
  font-family: "Inter Tight", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.heading {
  background: #333333;
  height: 45px;
  max-height: 45px;
  width: 100%;
  position: relative;
}

.heading__search--input {
  position: absolute;
  top: 0%;
  left: 50%;
  height: 45px;
  max-height: 45px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.icon-search {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  position: absolute;
  top: 20%;
  left: 63%;
}

.heading__language--title {
  position: absolute;
  top: 30%;
  left: 66%;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

input[type=text] {
  background-color: #333333;
}

.icon-home {
  margin-left: 30px;
}

.logo__menu--item {
  margin-top: 8px;
  width: 100%;
}

/* home menu item start */
.home-menu {
  background-color: #F5F5F5;
}

.home__menu--item {
  display: flex;
}

.home__menu--list {
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
  color: #666666;
  margin-left: 10px;
}

.home__menu--list-more {
  margin-left: 10px;
}

/* home menu item end */
/* navigation start */
.nav-main {
  background-color: #FFFFFF;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.navigation {
  margin-left: 30px;
}
.navigation__menu {
  display: flex;
  margin-left: 260px;
  cursor: pointer;
}
.navigation__menu--item:hover {
  color: #E41623;
}
.navigation__menu--item {
  margin-right: 30px;
  line-height: 65px;
  font-style: normal;
  font-weight: 700;
}

.icon-home {
  margin-left: 30px;
}

.logo__menu--item {
  margin-top: 8px;
  width: 100%;
}

/* navigation end */
.home__header--silder {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

/* banner start */
.banner {
  position: relative;
}
.banner-title {
  position: absolute;
  left: 50%;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* banner end */
/* home menu item start */
.home-menu {
  background-color: #f5f5f5;
  height: 50px;
}

.home__menu--item {
  display: flex;
}

.home__menu--list {
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
  color: #666666;
  margin-left: 10px;
}

.home__menu--list-more {
  margin-left: 10px;
}

/* home menu item end */
/* container start */
.content__new {
  padding: 20px 10px;
}

.header__new {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 20px;
}

.description__new {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 40px;
}

.content__page--new {
  margin: auto;
  margin-top: 40px;
  overflow: auto;
}

.content__page--img {
  width: 100%;
}

.banner__calendar {
  margin: 25px 15px;
}

.title__calendar {
  position: relative;
  top: -55px;
  left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.view__more--new {
  font-weight: 700;
  font-size: 14px;
}

.view__more--new-content {
  font-weight: 700;
  font-size: 14px;
}

.icon__view--more {
  color: #cc0000;
  margin-left: 6px;
}

/* new home start */
.news__related--title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #E41623;
  padding-top: 50px;
  padding-bottom: 20px;
}

.new__img {
  width: 100%;
  object-fit: cover;
}

.banner__cards {
  position: relative;
}
.banner__cards--title {
  position: absolute;
  top: -27px;
  left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.banner_img--cards {
  position: absolute;
  top: -36px;
  left: 0;
}

.new__content {
  background: #F5F5F5;
  padding: 20px 20px;
}
.new__content--header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 15px;
}
.new__content--description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  margin-bottom: 15px;
}

.button--new {
  color: #E41623;
  border: 1px solid #E41623;
}

/* new home end */
.pagination {
  text-align: center;
  margin-top: 30px;
}

/* pagination end */
/* footer start */
.footer {
  padding: 0px 20px;
}

/* footer end */
.fmore {
  line-height: 55px;
  font-size: 14px;
}

/*# sourceMappingURL=new.css.map */
