html,
body {
  font-family: "Inter Tight", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.heading {
  background: #333333;
  height: 45px;
  max-height: 45px;
  width: 100%;
  position: relative;
}

.heading__search--input {
  position: absolute;
  top: 0%;
  left: 50%;
  height: 45px;
  max-height: 45px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.icon-search {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  position: absolute;
  top: 20%;
  left: 61%;
}

.heading__language--title {
  position: absolute;
  top: 30%;
  left: 64%;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

input[type=text] {
  background-color: #333333;
}

.icon-home {
  margin-left: 30px;
}

.logo__menu--item {
  margin-top: 8px;
  width: 100%;
}

.home-menu {
  background-color: #F5F5F5;
}

.home__menu--item {
  display: flex;
}

.home__menu--list {
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
  color: #666666;
  margin-left: 10px;
}

.home__menu--list-more {
  margin-left: 10px;
}

/* home menu item end */
/* navigation start */
.nav-main {
  background-color: #ffffff;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.navigation {
  margin-left: 30px;
}
.navigation__menu {
  display: flex;
  margin-left: 260px;
  cursor: pointer;
}
.navigation__menu--item:hover {
  color: #E41623;
}
.navigation__menu--item {
  margin-right: 30px;
  line-height: 65px;
  font-style: normal;
  font-weight: 700;
}

.icon-home {
  margin-left: 30px;
}

.logo__menu--item {
  margin-top: 8px;
  width: 100%;
}

/* navigation end */
/* banner start */
.banner {
  position: relative;
}

.banner-title {
  position: absolute;
  left: 50%;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* banner end */
/* home menu item start */
.home-menu {
  background-color: #f5f5f5;
  height: 50px;
}

.home__menu--item {
  display: flex;
}

.home__menu--list {
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
  color: #666666;
  margin-left: 10px;
}

.home__menu--list-more {
  margin-left: 10px;
}

/* home menu item end */
.category__product--menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.category__product--space {
  font-weight: 900;
  font-size: 8px;
  line-height: 8px;
  background: #d1d1d1;
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.space-hightlight {
  background: #e41623;
}

.title__sort {
  font-weight: 400;
  font-size: 18px;
  line-height: 55px;
  color: #999999;
  margin-right: 10px;
}

.name__sort {
  font-weight: 400;
  font-size: 18px;
  line-height: 55px;
  color: #333333;
  margin-left: 10px;
}

.sort__border {
  border: 1px solid #eeeeee;
  width: 240px;
  height: 50px;
  background: #ffffff;
  position: relative;
}

.sort__icon {
  position: absolute;
  bottom: 0;
  left: 90%;
  line-height: 55px;
}

.products__border {
  border: 1px solid #eeeeee;
}
.products__content {
  background: #FFFFFF;
  height: 100%;
  padding: 25px 10px;
}
.products__img--content {
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products__name {
  padding: 20px 20px;
}
.products__new {
  position: relative;
}
.products__new--title {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background: #cc0000;
  border-radius: 5px;
  padding: 8px 10px;
}
.products__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #e41623;
}
.products__header {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}
.products__btn {
  text-align: center;
}
.products__btn--view {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #e41623;
  border: 1px solid #e41623;
  border-radius: 10px;
  padding: 15px 30px;
}

/* pagination start */
.pagination {
  text-align: center;
  margin-top: 30px;
}

/* pagination end */
.footer {
  padding: 0px 20px;
}

.fmore {
  line-height: 55px;
  font-size: 14px;
}

/*# sourceMappingURL=product.css.map */
