@import "../sass/variable";
@import "../sass/reset";

.heading {
  background: #333333;
}

.heading__search--input {
  height: 46px;
  border-left: 1px solid $colorTitle;
  border-right: 1px solid $colorTitle;
  border: none;
}

input[type="text"] {
  background-color: $colorText;
}

.icon-home {
  margin-left: 30px;
}

/* navigation end */

/* banner start */

.banner-title {
  position: absolute;
  left: 50%;
  color: $colorTitle;
  top: calc(50%);
  transform: translate(-50%, -50%);
}

/* banner end */

/* home menu item start */
.home-menu {
  background-color: $backgroundColor;
}

.home__menu--list {
  font-weight: $fontWeight400;
  font-size: $fontSize14;
  line-height: 50px;
  color: #666666;
}

/* home menu item end */

//home about start
.about {
  padding: 20px 45px;

  &__header {
    font-size: $fontSize40;
    line-height: 48px;
    color: $colorTextFocus;
  }

  &__description {
    font-size: 18px;
    line-height: 26px;
    color: $colorText;
  }

  &__title {
    font-weight: $fontWeight700;
    font-size: 24px;
    line-height: 29px;
    color: $colorTextFocus;
    margin-bottom: 20px;
  }

  &__menu--more {
    margin-bottom: 20px;
  }

  &__menu--upercase {
    font-weight: $fontWeight700;
    font-size: 18px;
    line-height: 35px;
    color: $colorText;
  }

  &__menu--circle {
    list-style-type: circle;
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  &__img {
    padding: 20px 45px;
  }
}

//home about end

.fmore {
  line-height: 55px;
  font-size: 14px;
}