@import "../sass/variable";
@import "../sass/reset";

.heading {
  background: #333333;
  height: 45px;
  max-height: 45px;
  width: 100%;
  position: relative;
}

.heading__search--input {
  position: absolute;
  top: 0%;
  left: 50%;
  height: 45px;
  max-height: 45px;
  border-left: 1px solid $colorTitle;
  border-right: 1px solid $colorTitle;
}

.icon-search {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  position: absolute;
  top: 20%;
  left: 63%;
}

.heading__language--title {
  position: absolute;
  top: 30%;
  left: 66%;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

input[type="text"] {
  background-color: $colorText;
}

.icon-home {
  margin-left: 30px;
}

.logo__menu--item {
  margin-top: 8px;
  width: 100%;
}

/* navigation end */

/* banner start */

.banner {
  position: relative;
}

.banner-title {
  position: absolute;
  left: 50%;
  font-style: normal;
  font-weight: $fontWeight700;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  text-transform: uppercase;
  color: $colorTitle;
  top: calc(50%);
  transform: translate(-50%, -50%);
}

/* banner end */

/* home menu item start */
.home-menu {
  background-color: $backgroundColor;
  height: 50px;
}

.home__menu--item {
  display: flex;
  margin-left: 140px;
}

.home__menu--list {
  font-weight: $fontWeight400;
  font-size: $fontSize14;
  line-height: 50px;
  color: #666666;
  margin-left: 10px;
}

.home__menu--list-more {
  margin-left: 10px;
}
/* home menu item end */

//home about start
.about {
  padding: 20px 45px;

  &__header {
    font-weight: $fontWeight700;
    font-size: $fontSize40;
    line-height: 48px;
    color: $colorTextFocus;
    margin-bottom: 20px;
  }

  &__description {
    font-weight: $fontWeight400;
    font-size: 18px;
    line-height: 26px;
    color: $colorText;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: $fontWeight700;
    font-size: 24px;
    line-height: 29px;
    color: $colorTextFocus;
    margin-bottom: 20px;
  }

  &__menu--more {
    margin-bottom: 20px;
  }

  &__menu--upercase {
    font-weight: $fontWeight700;
    font-size: 18px;
    line-height: 35px;
    color: $colorText;
  }

  &__menu--circle {
    list-style-type: circle;
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  &__img {
    padding: 20px 45px;
  }
}

//home about end
.footer {
  padding: 0px 20px;
}

.fmore {
  line-height: 55px;
  font-size: 14px;
}