@import "../sass/variable";
@import "../sass/reset";

.heading {
  background: #333333;
}

.heading__search--input {
  height: 46px;
  border-left: 1px solid $colorTitle;
  border-right: 1px solid $colorTitle;
  border: none;
}

input[type="text"] {
  background-color: $colorText;
}

// box start
.box-nav {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
//box end

.home__header--silder {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

// feature start
.feature {
  &__vector {
    color: $colorTextFocus;
    font-size: 23px;
  }
  &__icon {
    & i {
      color: #cccccc;
      font-size: 24px;
      background: $colorText;
      border-radius: 32px;
      margin-right: 65px;
      padding: 20px 20px;
    }

    &--title {
      font-weight: $fontWeight400;
      font-size: 16px;
      line-height: 24px;
      color: $colorText;
    }
  }
}

// feature end

// category start
//customer code start

.swiper-slide {
  height: auto !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// //customer code end

.category {
  &__header {
    font-weight: $fontWeight700;
    font-size: $fontSize40;
    line-height: 48px;
    text-align: center;
    color: $colorTextFocus;
    padding-top: 30px;
  }
  &-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
    z-index: 1;
  }

  &-category-article {
    position: relative;
  }
  &-title {
    position: absolute;
    top: 50%;
    left: 34%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
  }
  &-desc {
    position: absolute;
    top: 60%;
    left: 0%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    z-index: 2;
    padding: 0px 10px;
  }
}

.btn-next {
  position: absolute !important;
  top: 50% !important;
  left: 100% !important;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(28, 168, 227, 0.05);
  border-radius: 32px;
  font-weight: 300 !important;
  font-size: 40px !important;
  line-height: 40px !important;
  color: #cccccc !important;
  width: 60px !important;
  height: 60px !important;

  &:hover {
    color: #ffffff;
    background-color: #e41623;
  }
}

.btn-prev {
  position: absolute !important;
  top: 50% !important;
  left: 0% !important;
  margin-left: -60px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(28, 168, 227, 0.05);
  border-radius: 32px;
  font-weight: 300 !important;
  font-size: 40px !important;
  line-height: 40px !important;
  color: #cccccc !important;
  width: 60px !important;
  height: 60px !important;

  &:hover {
    color: #ffffff;
    background-color: #e41623;
  }
}

.btn-sv {
  position: absolute !important;
  top: 40% !important;
}

// category end

//home products start
.heading__products {
  font-weight: $fontWeight700;
  font-size: $fontSize40;
  line-height: 48px;
  text-align: center;
  color: #cc0000;
  margin-top: 45px;
}
.products {
  &__content {
    background: $colorTitle;
    height: 100%;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
  }
  &__img {
    &--content {
      text-align: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    padding: 20px 20px;
  }
  &__new {
    position: relative;

    &--title {
      position: absolute;
      top: calc(50%);
      left: 30px;
      transform: translate(-50%, -50%);
      font-weight: $fontWeight700;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: $colorTitle;
      background: #cc0000;
      border-radius: 5px;
      padding: 8px 10px;
    }
  }
  &__title {
    font-weight: $fontWeight400;
    font-size: $fontSize14;
    line-height: 17px;
    text-align: center;
    color: $colorTextFocus;
  }
  &__header {
    font-weight: $fontWeight700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $colorText;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  &__btn {
    text-align: center;
    margin-top: auto;

    &--view {
      font-weight: $fontWeight700;
      font-size: $fontSize14;
      line-height: 17px;
      color: $colorTitle;
      background: $colorTextFocus;
      border: 1px solid $colorTextFocus;
      border-radius: 10px;
      padding: 15px 30px;

      &:hover {
        color: #e41623;
        background: white;
        border: 1px solid #e41623;
      }
    }
  }
}

//home products end

// service related start

.service__related--title {
  font-weight: $fontWeight700;
  font-size: $fontSize40;
  line-height: 29px;
  color: $colorTextFocus;
  padding-bottom: 20px;
  padding-top: 50px;
}

.services-content {
  background: #333333;
  height: 100%;
  padding: 30px 30px;
  word-wrap: break-word;
}

.services-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 20px;
}

.services-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.services-btn {
  padding-top: 40px;
}

.button__service--view {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $colorTextFocus;
  border: 1px solid #e41623;
  border-radius: 10px;
  padding: 10px 40px;

  &:hover {
    color: #e41623;
    background: #ffffff;
    border: 1px solid #e41623;
  }
}

//service related end

//banner home start
.banner__content {
  position: relative;
}
.banner-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
}
.banner__title {
  position: absolute;
  top: calc(40%);
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: $fontWeight700;
  font-size: $fontSize40;
  line-height: 48px;
  color: $colorTitle;
  z-index: 2;
}

.banner__description {
  position: absolute;
  top: calc(60%);
  left: 50%;
  right: -20%;
  transform: translate(-50%, -50%);
  font-weight: $fontWeight400;
  font-size: 18px;
  line-height: 26px;
  color: $colorTitle;
  z-index: 2;
}
//banner home end

//home manufacturing start

.manufacturing__related--title {
  font-weight: $fontWeight700;
  font-size: $fontSize40;
  line-height: 48px;
  text-align: center;
  color: $colorTextFocus;
  padding-top: 45px;
}

.manufacturing__card {
  margin-top: 40px;
  height: 100%;
  background: #f5f5f5;
  &--name {
    font-weight: $fontWeight700;
    font-size: 18px;
    line-height: 22px;
    color: $colorText;
    margin-bottom: 15px;
  }
  &--content {
    font-weight: $fontWeight400;
    font-size: $fontSize14;
    line-height: 17px;
    color: #666666;
    margin-bottom: 15px;
  }
}

.manufacturing__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.manufacturing__background {
  background: #f5f5f5;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  // height: 100%;
}

.view__more--new {
  font-weight: $fontWeight700;
  font-size: $fontSize14;
  line-height: 17px;
  color: $colorText;

  &:hover {
    color: #e41623;
    transition: all 0.4s;
  }
}

.view__more--new i {
  color: $colorTextFocus;
  font-size: 18px;
  margin-left: 7px;

  &:hover {
    color: red;
    transition: all 0.4s;
  }
}

.manufacturing__button {
  text-align: center;
}

.view__button {
  margin-top: 30px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: $fontWeight700;
  font-size: $fontSize14;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.view__button i {
  margin-left: 5px;
  line-height: 17px;
}

//home manufacturing end

/* new home start */

.news__related--title {
  font-weight: $fontWeight700;
  font-size: $fontSize40;
  line-height: 48px;
  text-align: center;
  color: $colorTextFocus;
  padding-top: 50px;
  padding-bottom: 20px;
}

.banner__cards {
  position: relative;

  &--title {
    position: absolute;
    top: -45px;
    left: 18px;
    font-weight: $fontWeight400;
    font-size: $fontSize14;
    line-height: 17px;
    color: $colorTitle;
    background: red;
    border-top: 10px solid transparent;
    border-right: 52px solid red;
    border-bottom: 10px solid transparent;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(-29deg);
  }
}

.banner_img--cards {
  position: absolute;
  top: -36px;
  left: 0;
}

.new-content {
  background: $colorTitle;
  padding: 20px 20px;
}

.new-header {
  font-weight: $fontWeight700;
  font-size: 20px;
  line-height: 24px;
  color: $colorText;
  margin-bottom: 15px;
}

.new-description {
  font-weight: $fontWeight400;
  font-size: $fontSize14;
  line-height: 17px;
  color: #666666;
  margin-bottom: 15px;
}

.button--new {
  color: $colorTextFocus;
  border: 1px solid $colorTextFocus;

  &:hover {
    color: #ffffff;
    background-color: #e41623;
  }
}

/* new home end */

.footer {
  padding: 0px 20px;
}

.fmore {
  line-height: 55px;
  font-size: 14px;
}
