@import "./variable";
@import "./reset";

.heading {
  background: #333333;
}

.heading__search--input {
  height: 46px;
  border-left: 1px solid $colorTitle;
  border-right: 1px solid $colorTitle;
  border: none;
}

input[type="text"] {
  background-color: $colorText;
}

/* home menu item start */
.home-menu {
  background-color: $backgroundColor;
}

.home__menu--list {
  font-weight: $fontWeight400;
  font-size: $fontSize14;
  line-height: 50px;
  color: #666666;
  margin-left: 10px;
}

/* home menu item end */

// manufacturing start

.manufacturing-content {
  padding: 0px 20px;
}

.manufacturing-header {
  font-size: 40px;
  line-height: 48px;
  color: $colorTextFocus;
}

.manufacturing-description {
  color: $colorText;
}

// manufacturing end

//manufacturing card start

.manufacturing__card--name {
  color: $colorText;
}
.manufacturing__card--content {
  color: #666666;
}

.view__more--new {
  color: $colorText;
}

.view__more--new i {
  color: $colorTextFocus;
}

.view__button {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 25px;
  color: #000000;
}

//manufacturing card end

// footer start

/* footer end */

.fmore {
  line-height: 55px;
  font-size: 14px;
}

//footer end
