@import "./variable";
@import "./reset";

.heading {
  background: #333333;
}

.heading__search--input {
  height: 46px;
  border-left: 1px solid $colorTitle;
  border-right: 1px solid $colorTitle;
  border: none;
}

input[type="text"] {
  background-color: $colorText;
}

/* home menu item start */
.home-menu {
  background-color: $backgroundColor;
}

.home__menu--list {
  font-weight: $fontWeight400;
  font-size: $fontSize14;
  line-height: 50px;
  color: #666666;
  margin-left: 17px;
}

/* home menu item end */

/* content new details start */

.calender {
  position: relative;
  top: -50px;
  left: 25px;
}

.title__calendar {
  color: $colorTitle;
}

.border__new {
  border-top: 1px solid #d1d1d1;
  margin-bottom: 15px;
}

.name__new--details {
  font-weight: $fontWeight700;
  font-size: $fontSize40;
  line-height: 48px;
  color: $colorText;
  margin-bottom: 20px;
}

.title__new--details {
  font-weight: $fontWeight700;
  font-size: 18px;
  line-height: 24px;
  color: $colorText;
}

.title__article {
  font-weight: $fontWeight700;
  font-size: 24px;
  line-height: 29px;
  color: $colorText;
  margin-top: 24px;
  margin-bottom: 20px;
}

.description__new--details {
  font-weight: $fontWeight400;
  font-size: 18px;
  line-height: 26px;
  color: $colorText;
  margin-top: 15px;
  margin-bottom: 24px;
}

.content__new--details {
  font-weight: $fontWeight400;
  font-size: 18px;
  line-height: 26px;
  color: $colorText;
}

/* content new details ebd */

/* category start */
.category__new--details {
  background: #f1f1f1;
  padding: 20px 30px;
}

.category__header {
  font-weight: $fontWeight700;
  font-size: 24px;
  line-height: 29px;
  color: $colorTextFocus;
}

.category__date {
  font-weight: $fontWeight400;
  font-size: $fontSize14;
  line-height: 17px;
  color: #999999;
}

.category__title {
  color: $colorTextFocus;
}

.border__new--category {
  border-top: 1px solid #d1d1d1;
}

/* category end */

.fmore {
  line-height: 55px;
  font-size: 14px;
}
