@import "../sass/variable";
@import "../sass/reset";

.heading {
  background: #333333;
}

.heading__search--input {
  height: 46px;
  border-left: 1px solid $colorTitle;
  border-right: 1px solid $colorTitle;
  border: none;
}

input[type="text"] {
  background-color: $colorText;
}

/* home menu item start */
.home-menu {
  background-color: $backgroundColor;
}

.home__menu--list {
  font-weight: $fontWeight400;
  font-size: $fontSize14;
  line-height: 50px;
  color: #666666;
  margin-left: 10px;
}

/* home menu item end */

// products details start

.gallery__core {
  padding-top: 100%;
  border: 1px solid #d1d1d1;
}
.gallery__core img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transform: translateY(0);
}
.gallery__core img.slide-in {
  top: 100%;
}
.gallery__core img.shift-up {
  transition: transform 400ms;
  transform: translateY(-100%);
}

.gallery__track__item {
  cursor: pointer;
  margin-bottom: 10px;
  overflow: hidden;
}
.gallery__track__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.details__new--title {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background: #cc0000;
  border-radius: 5px;
  padding: 5px 10px;
}

.details {
  height: 100% !important;
  padding: 20px 100px;

  &-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 20px;
  }

  &-border {
    border-bottom: 2px solid #d1d1d1;
    margin-bottom: 20px;
  }
  &-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }

  &-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
  }
}

.products__details--view {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background: #e41623;
  border: 1px solid #e41623;
  border-radius: 10px;
  padding: 15px 30px;
}

.button__product--pdf {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  margin-left: 20px;
}

// products details end

//products details table technical start

.products__technical {
  padding: 50px 50px;

  &--header {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #e41623;
    margin-top: 40px;
    padding-bottom: 20px;
  }
  &--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    width: 20%;
  }

  &--view {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
  }

  &--list {
    width: 22%;
    max-width: 22%;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    margin-left: 50px;

    &-more {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #333333;
      margin-left: 50px;
      margin-bottom: 20px;
    }
  }
}

.product__btn--feature {
  background: #ffffff;
  padding: 15px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.product__btn--app {
  background: #ffffff;
  padding: 15px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-left: 15px;
}

.product__btn--data {
  background: #e41623;
  padding: 15px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-left: 15px;
}

//products details table technical end

// products related start

.swiper-wrapper {
  display: flex;
  // flex-flow: column nowrap;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  height: auto !important;
  box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.36);
}

.btn-next {
  position: absolute !important;
  top: 50% !important;
  left: 100% !important;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(28, 168, 227, 0.05);
  border-radius: 32px;
  font-weight: 300 !important;
  font-size: 40px !important;
  line-height: 40px !important;
  color: #cccccc !important;
  width: 60px !important;
  height: 60px !important;

  &:hover {
    color: #ffffff;
    background-color: #e41623;
  }
}

.btn-prev {
  position: absolute !important;
  top: 50% !important;
  left: 0% !important;
  margin-left: -60px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(28, 168, 227, 0.05);
  border-radius: 32px;
  font-weight: 300 !important;
  font-size: 40px !important;
  line-height: 40px !important;
  color: #cccccc !important;
  width: 60px !important;
  height: 60px !important;

  &:hover {
    color: #ffffff;
    background-color: #e41623;
  }
}

.background {
  background: url("../images/Rectangle\ 924.png");
}

.products {
  &__content {
    background: $colorTitle;
    height: 100% !important;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
  }
  &__img {
    &--content {
      text-align: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    padding: 20px 20px;
  }
  &__new {
    position: relative;

    &--title {
      position: absolute;
      top: calc(50%);
      left: 30px;
      transform: translate(-50%, -50%);
      font-weight: $fontWeight700;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: $colorTitle;
      background: #cc0000;
      border-radius: 5px;
      padding: 8px 10px;
    }
  }
  &__title {
    font-weight: $fontWeight400;
    font-size: $fontSize14;
    line-height: 17px;
    text-align: center;
    color: $colorTextFocus;
  }
  &__header {
    font-weight: $fontWeight700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $colorText;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  &__btn {
    text-align: center;
    margin-top: auto;

    &--view {
      font-weight: $fontWeight700;
      font-size: $fontSize14;
      line-height: 17px;
      color: $colorTitle;
      background: $colorTextFocus;
      border: 1px solid $colorTextFocus;
      border-radius: 10px;
      padding: 15px 30px;

      &:hover {
        color: #e41623;
        background: white;
        border: 1px solid #e41623;
      }
    }
  }
}

// products related end

.fmore {
  line-height: 55px;
  font-size: 14px;
}
