@import "../sass/variable";
@import "../sass/reset";

.heading {
  background: #333333;
}

.heading__search--input {
  height: 46px;
  border-left: 1px solid $colorTitle;
  border-right: 1px solid $colorTitle;
  border: none;
}

input[type="text"] {
  background-color: $colorText;
}

.nav-border {
  border-left: 1px solid #d1d1d1;
}

//* home menu item start */

.home-menu {
  background-color: #f5f5f5;
  height: 50px;
}

.home__menu--list {
  font-weight: $fontWeight400;
  font-size: $fontSize14;
  line-height: 50px;
  color: #666666;
}

/* home menu item end */

/* navigation start */
.nav-main {
  background-color: #ffffff;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* navigation end */

/* banner start */

.banner-title {
  position: absolute;
  left: 50%;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  top: calc(50%);
  transform: translate(-50%, -50%);
}

/* banner end */

//   category products start

.category__product {
  &--menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  &--space {
    font-weight: 900;
    font-size: 8px;
    line-height: 8px;
    background: #d1d1d1;
    width: 8px;
    height: 8px;
    margin-right: 5px;
  }
}

.space-hightlight {
  background: #e41623;
}

.title__sort {
  font-weight: 400;
  font-size: 18px;
  line-height: 55px;
  color: #999999;
  margin-right: 10px;
}

.name__sort {
  font-weight: 400;
  font-size: 18px;
  line-height: 55px;
  color: #333333;
  margin-left: 10px;
}

.sort__border {
  border: 1px solid #eeeeee;
  width: 240px;
  height: 50px;
  background: #ffffff;
}

.sort__icon {
  position: absolute;
  bottom: 0;
  left: 90%;
  line-height: 55px;
}

//   category products end

//products start

.products {
  &__border {
    border: 1px solid #eeeeee;
    height: auto;
  }
  &__content {
    background: $colorTitle;
    height: 100%;
    padding: 25px 10px;
  }
  &__img {
    &--content {
      text-align: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    padding: 20px 20px;
  }
  &__new {
    position: relative;

    &--title {
      position: absolute;
      top: calc(50%);
      left: 30px;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #ffffff;
      background: #cc0000;
      border-radius: 5px;
      padding: 8px 10px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #e41623;
  }
  &__header {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }
  &__btn {
    text-align: center;

    &--view {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      background: #e41623;
      border: 1px solid #e41623;
      border-radius: 10px;
      padding: 15px 30px;

      &:hover {
        color: #e41623;
        background-color: #ffffff;
        border: 1px solid #e41623;
      }
    }
  }
}

//products end

.footer {
  padding: 0px 20px;
}

.fmore {
  line-height: 55px;
  font-size: 14px;
}
