@import "../sass/variable";
@import "../sass/reset";

.heading {
  background: #333333;
}

.heading__search--input {
  height: 46px;
  border-left: 1px solid $colorTitle;
  border-right: 1px solid $colorTitle;
  border: none;
}

input[type="text"] {
  background-color: $colorText;
}

.icon-home {
  margin-left: 30px;
}

.logo__menu--item {
  margin-top: 8px;
  width: 100%;
}

/* navigation end */

.swiper-slide {
  height: auto !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-next {
  position: absolute !important;
  top: 50% !important;
  left: 100% !important;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(28, 168, 227, 0.05);
  border-radius: 32px;
  font-weight: 300 !important;
  font-size: 40px !important;
  line-height: 40px !important;
  color: #cccccc !important;
  width: 60px !important;
  height: 60px !important;

  &:hover {
    color: #FFFFFF;
    background-color: #E41623;
  }
}

.btn-prev {
  position: absolute !important;
  top: 50% !important;
  left: 0% !important;
  margin-left: -60px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(28, 168, 227, 0.05);
  border-radius: 32px;
  font-weight: 300 !important;
  font-size: 40px !important;
  line-height: 40px !important;
  color: #cccccc !important;
  width: 60px !important;
  height: 60px !important;

  &:hover {
    color: #FFFFFF;
    background-color: #E41623;
  }
}

/* home menu item start */
.home-menu {
  background-color: $backgroundColor;
}

.home__menu--item {
   display: flex;
}

.home__menu--list {
  font-weight: $fontWeight400;
  font-size: $fontSize14;
  line-height: 50px;
  color: #666666;
  margin-left: 10px;
}

.home__menu--list-more {
   margin-left: 10px;
}
/* home menu item end */

.service-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: $colorText;
  margin-bottom: 40px;
}

.service-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: $colorText;
  margin-bottom: 50px;

  &--child {
    margin-top: -20px;
  }
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $colorTextFocus;
  margin-bottom: 20px;
}

.service-list {
  list-style-type: circle;
  padding: 0px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: $colorText;
}
.button__service--pdf {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}

// service related start

.service__related--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $colorTextFocus;
  padding-bottom: 20px;
  padding-top: 50px;
}

.services-content {
  background: #333333;
  height: 100%;
  padding: 30px 30px;
  word-wrap: break-word;
}

.services-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.services-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.services-btn {
  padding-top: 40px;
}

.button__service--view {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $colorTextFocus;
  border: 1px solid #e41623;
  border-radius: 10px;
  padding: 10px 40px;

  &:hover {
    color: #e41623;
    background: #FFFFFF;
    border: 1px solid #e41623;
  }
}

//service related end

.footer {
  padding: 0px 20px;
}

.fmore {
  line-height: 55px;
  font-size: 14px;
}