html,
body {
  font-family: "Inter Tight", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.heading {
  background-color: #333333;
  display: flex;
  justify-content: flex-end;
  height: 45px;
}

.heading-search-language {
  margin-right: 398px;
  display: flex;
  align-items: center;
}

.heading__search {
  margin-right: 12px;
  line-height: 12px;
}

.heading__search--input {
  height: 45px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;;
}

input[type="text"] {
  background-color: #333333;
}

.icon-search {
  position: absolute;
  right: 456px;
  top: 13px;
  color: #ffffff;
  font-size: 20px;
}


.heading__language--title {
  font-style: normal;
  color: #ffffff;
  margin-right: 5px;
  line-height: 12px;
  font-weight: 700;
}

.icon__language {
  color: #ffffff;
}

/* navigation start */
.nav-main {
  background-color: #ffffff;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.navigation {
  margin-left: 30px;
}

.navigation__menu {
  display: flex;
  margin-left: 260px;
  cursor: pointer;
}

.navigation__menu--item:hover {
  color: #CC0000;
}

.icon-home {
  margin-left: 30px;
}

.navigation__menu--item {
  margin-right: 30px;
  line-height: 65px;
  font-style: normal;
  font-weight: 700;
}

.logo__menu--item {
  margin-top: 8px; 
  width: 100%;
}

/* navigation end */

/* home menu item start */
.home-menu {
    background-color: #f5f5f5;
    height: 50px;
  }
  
  .home__menu--item {
    display: flex;
  }
  
  .home__menu--list {
    font-weight: 400;
    font-size: 14px;
    line-height: 50px;
    color: #666666;
    margin-left: 10px;
  }
  
  .home__menu--list-more {
    margin-left: 10px;
  }
  /* home menu item end */

  /* content new details start */

  .calender {
    position: relative;
    top: -50px;
    left: 85px;
  }

  .banner__calendar {
    position: absolute;
  }

  .title__calendar {
    position: absolute;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
   margin-left: 10px;
  }

  .header__new--main {
    padding: 0px 83px; 
  }

  .border__new {
    border-top: 1px solid #D1D1D1;
    margin-bottom: 15px;
  }


  .name__new--details {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 20px;
  }

  .title__new--details {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }

  .title__article {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  .description__new--details {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 24px;
  }

  .content__new--details {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
  }

  .content__new-details--last {
    margin-bottom: 20px;
  }
 
  /* content new details ebd */

  /* category start */
  .category__new--details {
    background: #F1F1F1;
    padding: 20px 30px;
  }

  .category__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #E41623;
  }

  .category__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
  }

  .category__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #E41623;
    padding: 10px 2px;
  }

  .border__new--category {
    border-top: 1px solid #D1D1D1;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  /* category end */
